
/* Grid System
  =========================================================================== */

  .col-xs-2-4{
    @include make-xs-column(2.4)
  }

  .col-lg-2-4{
    @include make-lg-column(2.4)
  }
  .col-md-2-4{
    @include make-md-column(2.4)
  }
  .col-sm-2-4{
    @include make-sm-column(2.4)
  }

  .col-xs-offset-2-4 {
    @include make-xs-column-offset(2.4);
  }

  .eq-height-cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

/* Box Model
  =========================================================================== */

  *, *:before, *:after {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border: none;
  }

/* Positioning
  =========================================================================== */

  .v-a-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h-a-center {
    display: flex;
    justify-content: center;
  }

/* Typography
  =========================================================================== */

  html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  h1.SEO { display: none; }
