
/* Grid System
  =========================================================================== */

  /* 5-column grid classes */
  .col-xs-2p4 { @include make-xs-column(2.4) }
  .col-sm-2p4 { @include make-sm-column(2.4) }
  .col-md-2p4 { @include make-md-column(2.4) }
  .col-lg-2p4 { @include make-lg-column(2.4) }

  .col-xs-4p8 { @include make-xs-column(4.8); }
  .col-sm-4p8 { @include make-sm-column(4.8); }
  .col-md-4p8 { @include make-md-column(4.8); }
  .col-lg-4p8 { @include make-lg-column(4.8); }

  .col-xs-7p2 { @include make-xs-column(7.2); }
  .col-sm-7p2 { @include make-sm-column(7.2); }
  .col-md-7p2 { @include make-md-column(7.2); }
  .col-lg-7p2 { @include make-lg-column(7.2); }

  .col-xs-9p6 { @include make-xs-column(9.6); }
  .col-sm-9p6 { @include make-sm-column(9.6); }
  .col-md-9p6 { @include make-md-column(9.6); }
  .col-lg-9p6 { @include make-lg-column(9.6); }

  .col-xs-offset-2p4 { @include make-xs-column-offset(2.4); }
  .col-sm-offset-2p4 { @include make-sm-column-offset(2.4); }
  .col-md-offset-2p4 { @include make-md-column-offset(2.4); }
  .col-lg-offset-2p4 { @include make-lg-column-offset(2.4); }

  .col-xs-offset-4p8 { @include make-xs-column-offset(4.8); }
  .col-sm-offset-4p8 { @include make-sm-column-offset(4.8); }
  .col-md-offset-4p8 { @include make-md-column-offset(4.8); }
  .col-lg-offset-4p8 { @include make-lg-column-offset(4.8); }

  .col-xs-offset-7p2 { @include make-xs-column-offset(7.2); }
  .col-sm-offset-7p2 { @include make-sm-column-offset(7.2); }
  .col-md-offset-7p2 { @include make-md-column-offset(7.2); }
  .col-lg-offset-7p2 { @include make-lg-column-offset(7.2); }

  .col-xs-offset-9p6 { @include make-xs-column-offset(9.6); }
  .col-sm-offset-9p6 { @include make-sm-column-offset(9.6); }
  .col-md-offset-9p6 { @include make-md-column-offset(9.6); }
  .col-lg-offset-9p6 { @include make-lg-column-offset(9.6); }

  .eq-height-cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

/* Box Model
  =========================================================================== */

  *, *:before, *:after {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border: none;
  }

/* Positioning
  =========================================================================== */

  .v-a-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h-a-center {
    display: flex;
    justify-content: center;
  }

/* Typography
  =========================================================================== */

  html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  h1.SEO { display: none; }
