
#meteor-partner {

  /* Background
    ========================================================================= */

    background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), url('/assets/img/meteor-bg.svg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

  /* Box Model
    ========================================================================= */

   /* Padding */
   @include section-padding(4rem);

  /* Typography
    ========================================================================= */

    h2 { @include headline-dark; }
    h4 { @include subheader-dark; }
    p  { @include dark; }

  /* Visual
    ========================================================================= */

    img { @include img(185px); }
}
