// compileOnSave

@import "scss/vendor/normalize";

@import "scss/vendor/bootstrap/variables";
@import "scss/vendor/bootstrap/utilities-spacing";
@import "scss/vendor/bootstrap/utilities-responsive";

@import "scss/partials/mixins";
@import "scss/partials/base";
@import "scss/partials/type";
@import "scss/partials/icons";
@import "scss/partials/images";

@import "scss/modules/global";
@import "scss/modules/hero";
@import "scss/modules/meteor-partner";
@import "scss/modules/senior-apprentice";
@import "scss/modules/footer";

/* ====== Global ====== */

  #applicants,
  #companies,
  #samples,
  #tuition,
  #technologies {
    background: white;
    @include section-padding(4rem);
  }

  #media,
  #contact,
  #mvs {
    background: $light-gray-bg;
    @include section-padding(4rem);
  }

  #testimonials,
  #team,
  #program,
  #curriculum {
    background: $blue-bg;
    @include section-padding(4rem);
  }

  #footer {
    background: $dark-gray;
    @include section-padding(4rem);
  }

  @media (max-width: $lg) {

    #contact,
    #footer {
        text-align: center;
    }
  }

/* ========================================================================== */
