// compileOnSave

@import "scss/vendor/normalize";

@import "scss/vendor/bootstrap/variables";
@import "scss/vendor/bootstrap/utilities-spacing";
@import "scss/vendor/bootstrap/utilities-responsive";
@import "scss/vendor/hover-css/hover-effects";

@import "scss/partials/mixins";
@import "scss/partials/base";
@import "scss/partials/type";
@import "scss/partials/icons";
@import "scss/partials/images";

@import "scss/modules/global";
@import "scss/modules/hero";
@import "scss/modules/meteor-partner";
@import "scss/modules/applicants";
@import "scss/modules/senior-apprentice";
@import "scss/modules/contact";
@import "scss/modules/footer";

/* ====== Global ====== */

  #companies,
  #samples,
  #tuition,
  #technologies {
    background: white;
    @include section-padding(4rem);
  }

  #media,
  #mvs {
    background: $light-gray-bg;
    @include section-padding(4rem);
  }

  #testimonials,
  #team,
  #program,
  #curriculum {
    background: $blue-bg;
    @include section-padding(4rem);
  }

/* ========================================================================== */
