/* Authors: A100 Apprentice Team C++
 * Members: Chris Impastato, Julio Mansilla, Duke Noi, Carrrington Ward
 *
 * Built as part of the Apprentice100 Program
 * Winter Cohort 2014 */

 #testimonials img {
    width: 175px;
    height: auto;
 }

 #team img {
    width: 175px;
    height: auto;
    /*border-color: $bright-blue !important;
    border: 10px solid;*/
}

body {
  background: white;
  color: #f5f6f7;
}

h1.SEO {
  display: none;
}

  /*=======================
	 ** GENERAL STYLES **
   =========================*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

/* ======  LINKS ====== */



.hero-block a {
  color: #616161;
  text-decoration: none;
}

.normal {
  text-decoration: none;
  cursor: default;
}

.mb-7 {
  margin-bottom: 70px;
  padding-bottom: 100px; }

/* =========================

		SECTION STYLES

   =========================*/
#hero {
  position: relative; }

.hero-block {
  /*height: 390px;*/
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -300px; }

.hero-image {
  position: relative;
  width: auto;
  height: auto;
}

.footer-block {
  height: 180px;
  margin-top: -90px; }


#work {
  background: #3498db; }

.former {
  background-color: #0090bf
}


/* =========================

			WORK

   =========================*/

#work .showcase {
  width: 100%;
  padding: 0px;

   }

.showcase-tiles {
  padding-top: 0px;
  margin-top: 0px;
  display: table-row; }

.showcase-info {
  display: table-row; }

.showcase-info {
  text-align: center; }




/** CONTENT MODULES
 ********************/

  /* MODULES */
    /* Backgrounds */

      #nav {
        background: #ebecee;
        margin: 0px;
        font-size: 1.5em;
      }

      #hero {
        background: url("../img/heroBG.jpg") no-repeat;
        background-size: 100% auto;
        height: auto;
        text-align: center;
    }

    /* Type */

      /* HEADERS*/
        .navredo {
          color: #7b7c7f;
         }

    /* NAV */
        #nav .facebook:hover {
          color: #2094CA;
        }

        #nav .twitter:hover {
          color: #2094CA;
        }

        #nav .mail:hover {
          color: #2094CA;
        }

    /* HERO */
      .employerLink {
        position: relative;
        top: 10%;
        left: 53%; }

      /* Images */
        .meetup { padding-top: 10px;}
        .access {
          background: url("../img/button/access-button.png") no-repeat;
          position:relative;
          vertical-align: middle;
          width: 100px;
          height: auto;
        }

        .access:hover > .overlay  {
          width:100%;
          height:100%;
          position:absolute;
          background-color:#000;
          opacity:0.5;
          border-radius:30px;
        }

        .heroBG {
          max-width: 100%;
          height: auto;
        }

        #a100Logo .img {
          max-height: 18em;
          width: auto;
        }

        .down-arrow {
          width: 29px;
          height: 16px;
          background: url("../img/arrowInfo.png") no-repeat;
        }

        .hire {
          background: url("../img/button/hire-button.png") no-repeat;
          position:relative;
        }

        .apply {
          background: url("../img/button/apply-button.png") no-repeat;
          position:relative;
        }

        .build {
          background: url("../img/button/build-button.png") no-repeat;
          position:relative;
        }


      /* Links */
        .hero-block a:hover {
          color: #0091ba;
            -webkit-transition: color 1s;
            -moz-transition: color 1s;
            -ms-transition: color 1s;
            -o-transition: color 1s;
            transition: color 1s;
        }

        .hero-block a {
          color: #7b7c7f;
          text-decoration: none;
        }

    /* TECHNOLOGIES */
      /* Tables */
        #technologies tr td {
          padding-top: 20px;
          text-align: center;
          vertical-align: middle;
        }

      /* Images */
        .techLogo {
          width: 120px;
          height: auto;
          padding: 5px;

        }

        .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

    /* SKILLS */

      /* Tables */
        #skills tr td {
          padding-top: 20px;
        }

    /* CURRICULUM */
      .test {
        text-align: center;
        vertical-align: middle;
      }
      /* Type */


    /* CONTACT */

      /* Images */
        #contact i {
          font-size: 25px;
          color: #888d90;
          text-align: left;
          margin-right: 20px;}


/** MOBILE CONTENT MODULES
 ******************************/

  /* HERO XS */
    /* Images */

      .heroApplyXS {
        padding-top: 15px;
        padding-bottom: 50px;
      }

  /* Contact XS */
    /* Images */
        /*#contactXS i {
          font-size: 25px;
          color: #888d90;
          margin-right: 20px;
          text-align: left;
        }*/


/** DEPRECATED
 ******************************/
/*nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }*/


/*hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }*/
    /* NAVIGATION */
      /* General */
       .nav {
          position: fixed;
          width: 30px;
          height: 84px;
          z-index: 100;
          right: 0;
          top: 50%;
          margin-top: -42px; }

      /* Links */
        .nav a {
          text-indent: -9999px;
          display: block;
            width: 12px;
            height: 12px;
             margin-bottom: 10px;
            background: rgba(36,31,33,0.5);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            transform: scale(0.7);
            -webkit-transition: 200ms -webkit-transform ease-in-out, 200ms opacity ease-in;
            -moz-transition: 200ms -moz-transform ease-in-out, 200ms opacity ease-in;
            -ms-transition: 200ms -ms-transform ease-in-out, 200ms opacity ease-in;
            transition: 200ms -webkit-transform ease-in-out, 200ms opacity ease-in;
            cursor: pointer; }

        .nav a:hover {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }


      @media print {
        a[href]:after {
           content: none !important;
        }
        body {width:750px;}
        div[class|=col-]{float:left;}
        /*.col-sm-6{width:50%}  */
      }
