

  #testimonials,
  #team,
  #meteor-partner {
    img {
      width: 175px;
      height: auto;
    }
  }

 #team img {
  width: 175px;
  height: auto;
  //border-color: $bright-blue !important;
  //border: 10px solid;
}

.techLogo {
  width: 120px;
  height: auto;
  padding: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
