
/* Imports
  =========================================================================== */

  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Mixins
  =========================================================================== */

  @mixin text($color, $weight) {
    color: $color;
    font-weight: $weight;
  }

  @mixin headline-light { @include text($text-light, 300); }
  @mixin headline-dark { @include text($text-dark, 300); }

  @mixin light { @include text($text-light, 200); }
  @mixin dark { @include text($text-dark, 200); }

/* Classes
  =========================================================================== */
    .emphasis {
      @include text($text-light, 200);
      font-size: 1.5rem;
      font-style: italic;
    }

    .name {
      @extend .light;
      font-size: 1.2rem;
      // margin-top: 1rem;
    }

/* Sections
  =========================================================================== */

  #program {
    h2 { @include headline-light; }
    p { @include light; }
  }
//
//   .title { @extend .light; }
